<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dotnet10" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10/nuget/v3/index.json" />
    <add key="dotnet11" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet11/nuget/v3/index.json" />
    <add key="dotnet-workloads" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-workloads/nuget/v3/index.json" />
    <add key="dotnet11-workloads" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet11-workloads/nuget/v3/index.json" />
    <add key="dotnet11-internal" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/11.0.100-rc.2.26475.136-shipping/nuget/v3/index.json" />
    <add key="darc-pub-dotnet-android-db080b91" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-dotnet-android-db080b91/nuget/v3/index.json" />
    <add key="darc-pub-dotnet-macios-fd471cba" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-dotnet-macios-fd471cba/nuget/v3/index.json" />
    <add key="darc-pub-dotnet-macios-d813e2ba" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-dotnet-macios-d813e2ba/nuget/v3/index.json" />
    <add key="darc-pub-dotnet-dotnet-e4bafa1e" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-dotnet-dotnet-e4bafa1e/nuget/v3/index.json" />
  </packageSources>
</configuration>